.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}

section {
    flex: 1 1 auto;
    padding: 0 1em;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 870px) {
    section {
        padding: 0;
    }
}