.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    flex: 1 1 auto;
    padding: 0 1em;
    overflow: auto;
}

@media screen and (min-width: 870px) {
    section {
        padding: 0;
    }
}